body {
    margin: 10%;
    font-family: sans-serif;
    background-color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px;
}
.left {
    margin-right: 50px;
}
.logo {
    font-size: 60px;
    color: blue;
    font-weight: bold;
    text-shadow: 4px -4px black;
}
.tagline {
    font-size: 15px;
    max-width: 450px;
}
.login-box {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: none;
}
.login-box input {
    margin-bottom: 10px;
    padding: 14px;
    border: 1px blue; 
    border-radius: 6px;
    font-size: 15px;
}
.login-btn {
    background-color: blue;
    color: white;
    padding: 14px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: blue;
}
.forgot-link {
    text-align: center;
    display: bold;
    margin: 20px;
    color: blue;
}
.create-btn {
    background-color: green;
    color: white;
    padding: 14px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.create-btn {
    background-color: green;
}
.create-page {
    font-weight: bold;
    color: black;
    text-align: center;
}
footer {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    color: grey;
}
.languages a {
    margin: 8px;
    color: blue;
}
.meta {
    margin-top: 10px;
}